/* RightNavbar.css */
.right-navbar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  padding: 30px;
  padding-top: 150px;
}

.right-navbar-ul {
  list-style-type: none;
  padding: 10px;
  background-color: #333;
  border-radius: 40px;
  
}
.right-navbar ul li {
  margin: 20px 0;
}

.right-navbar ul li button {
  color: white;
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-navbar ul li button.active {
  background-color: #444; 
}

.right-navbar ul li button:hover {
  color: #ddd;
}


