.upper-text-body{
    padding-top: 130px;
}

.hey-there{
    font-size: 34px;
    font-weight: bolder;
}

.introduction-text{
    font-size: 22px;
    padding-top: 10px;
    font-weight: 300;
}
.planet-image{}
.arrow-image{}
.lower-text-body{
    padding-top: 100px;
}